<!-- The overview script -->

<div class="ui stackable container" id="bookmarks_overview">
	<!-- Header -->
	<div class="ui four column stackable grid">
		<div class="one wide column">
		</div>
		<div class="six wide column">
			<div class="ui huge header">BookMark OverView</div>
		</div>
		<div class="eight wide column">
			<%= link_to("Add Bookmark", new_bookmark_path, class: "ui basic button") %>
			<%= link_to("My Bookmark", "#",  class: "ui basic button") %>
			<%= link_to("Menu", choice_bookmarks_path, class: "ui basic button") %>
		</div>
		<div class="one wide column">
		</div>
	</div>
	<!-- Main Content -->	
	<div class="ui stackable grid">
		<div class="thirteen wide column">
			<div class="ui top attached stackable tabular menu">
				<a class="active item" data-tab="all">All</a>
				<a class="item" data-tab="restaurant">Restaurant</a>
				<a class="item" data-tab="travel">Travel Attraction</a>
				<a class="item" data-tab="hotel">Hotel/B&B</a>
				<a class="item" data-tab="news">News</a>
				<a class="item" data-tab="tech">Technology</a>
				<a class="item" data-tab="recipe">Recipe</a>
				<a class="item" data-tab="sport">Sport</a>
				<a class="item" data-tab="job">Job</a>
				<a class="item" data-tab="other">Others</a>
			</div>
			<div class="ui active bottom attached tab segment" data-tab="all">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<tr>
							<td class="collapsing">
								<i class="pointing right icon"></i>
								<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
								<% if bookmark.editable_by?(current_user) %>
									<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
									<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
								<% end %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>	
			</div>
			<div class="ui bottom attached tab segment" data-tab="restaurant">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<% if bookmark.category == "Restaurant" %>
							<tr>
								<td class="collapsing">
									<i class="pointing right icon"></i>
									<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
									<% if bookmark.editable_by?(current_user) %>
										<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
										<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>		
			</div>
			<div class="ui bottom attached tab segment" data-tab="travel">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<% if bookmark.category == "Travel Attraction" %>
							<tr>
								<td class="collapsing">
									<i class="pointing right icon"></i>
									<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
									<% if bookmark.editable_by?(current_user) %>
										<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
										<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
			</div>
			<div class="ui bottom attached tab segment" data-tab="hotel">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<% if bookmark.category == "Hotel/B&B" %>
							<tr>
								<td class="collapsing">
									<i class="pointing right icon"></i>
									<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
									<% if bookmark.editable_by?(current_user) %>
										<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
										<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
			</div>
			<div class="ui bottom attached tab segment" data-tab="news">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<% if bookmark.category == "News" %>
							<tr>
								<td class="collapsing">
									<i class="pointing right icon"></i>
									<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
									<% if bookmark.editable_by?(current_user) %>
										<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
										<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
			</div>
			<div class="ui bottom attached tab segment" data-tab="tech">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<% if bookmark.category == "Technology" %>
							<tr>
								<td class="collapsing">
									<i class="pointing right icon"></i>
									<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
									<% if bookmark.editable_by?(current_user) %>
										<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
										<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
			</div>
			<div class="ui bottom attached tab segment" data-tab="recipe">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<% if bookmark.category == "Recipe" %>
							<tr>
								<td class="collapsing">
									<i class="pointing right icon"></i>
									<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
									<% if bookmark.editable_by?(current_user) %>
										<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
										<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
			</div>
			<div class="ui bottom attached tab segment" data-tab="sport">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<% if bookmark.category == "Sport" %>
							<tr>
								<td class="collapsing">
									<i class="pointing right icon"></i>
									<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
									<% if bookmark.editable_by?(current_user) %>
										<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
										<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
			</div>
			<div class="ui bottom attached tab segment" data-tab="job">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<% if bookmark.category == "Job" %>
							<tr>
								<td class="collapsing">
									<i class="pointing right icon"></i>
									<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
									<% if bookmark.editable_by?(current_user) %>
										<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
										<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
			</div>
			<div class="ui bottom attached tab segment" data-tab="other">
				<table class="ui celled striped table">
					<thead>
						<tr><th><h3 class="ui blue header"><em>Website Title</em></h3></th></tr>
					</thead>
					<tbody>
					<% @bookmark.each do |bookmark| %>
						<% if bookmark.category == "Others" %>
							<tr>
								<td class="collapsing">
									<i class="pointing right icon"></i>
									<%= link_to(bookmark.title, bookmark.website, target: "_blank") %>
									<% if bookmark.editable_by?(current_user) %>
										<%= link_to("Delete", bookmark_path(bookmark), method: :delete, class: "ui basic right floated tiny button") %>
										<%= link_to("Edit", edit_bookmark_path(bookmark), class: "ui basic right floated tiny button") %>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="three wide center aligned column">
			<div class="ui big header">Popular ones</div>
			<div class="ui big header">RSS Links</div>
		</div>
	</div>
</div>
