<body id="introduces_member">
  <h1 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Project Team Member 
  </h1>
  <h3 class="ui center aligned header">
    <i class="circular star icon"></i>
    click picture to see more information
  </h3>
  <div id="member_intro_div" class="ui center aligned grid">
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h2>Chiao Tung University,Electrical Engineering</h2>
              <h2>Yi Chung Yang</h2>
              <h2>Founder of Second Brain</h2>
              <h2>Specialized in JAVA,C,Python,Ruby,Web-Design</h2>
              <h2>Also,Mathematics,Physics,Japanese,English</h2>
          </div>
        </div>
      </div>
      <%= image_tag("icon/messi_yang.gif",:style=>"",:class=>"") %>
    </div>
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/tw_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h2>Taiwan University,Civil Engineering</h2>
              <h2>Chih Chiang Yeh</h2>
              <h2>Founder of Second Brain</h2>
              <h2>Good at English communication</h2>
          </div>
        </div>
      </div>
      <%= image_tag("icon/alan_yeh.gif",:style=>"",:class=>"") %>
    </div>
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h2>Chiao Tung University,Electrical Engineering</h2>
              <h2>Sieng Bo Tseng</h2>
              <h2>Master in Algorithm,Data Structure,Signal&System</h2>
          </div>
        </div>
      </div>
      <%= image_tag("icon/pee_tseng.gif",:style=>"",:class=>"") %>
    </div>
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h2>Chiao Tung University,Electrical Engineering</h2>
              <h2>Yu Luen Ou</h2>
              <h2>Good at C++ and nothing</h2>
          </div>
        </div>
      </div>
      <%= image_tag("icon/turtle_ou.gif",:style=>"",:class=>"") %>
    </div>
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h2>Chiao Tung University,Electrical Engineering</h2>
              <h2>Zhuo Mo Chen</h2>
              <h2>Sleep,Eat,Pee</h2>
          </div>
        </div>
      </div>
      <%= image_tag("icon/mo_chen.gif",:style=>"",:class=>"") %>
    </div>
  </div>

</body>
