<body id="introduces_member">
  <h1 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Project Team Member 
  </h1>
  <h3 class="ui center aligned header">
    <i class="circular star icon"></i>
    click picture to see more information
  </h3>
  <div id="member_intro_div" class="ui center aligned grid">
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h3>Chiao Tung University,Electrical Engineering</h3>
              <h3>Yi Chung Yang</h3>
              <h3>Founder of Second Brain</h3>
              <h3>JAVA,C/C++,Python,Ruby,Front-End</h3>
              <h3>Mathematics,Physics</h3>
              <h3>Japanese,English</h3>
          </div>
        </div>
      </div>
      <%= image_tag("icon/messi_yang.gif",:style=>"",:class=>"") %>
    </div>
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/tw_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h3>Taiwan University,Civil Engineering</h3>
              <h3>Chih Chiang Yeh</h3>
              <h3>Founder of Second Brain</h3>
              <h3>Ruby,Front-End,English</h3>
          </div>
        </div>
      </div>
      <%= image_tag("icon/alan_yeh.gif",:style=>"",:class=>"") %>
    </div>
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h3>Chiao Tung University,Electrical Engineering</h3>
              <h3>Hsien Bo Tseng</h3>
              <h3>Algorithm,Data Structure,Signal&System</h3>
          </div>
        </div>
      </div>
      <%= image_tag("icon/pee_tseng.gif",:style=>"",:class=>"") %>
    </div>
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h3>Chiao Tung University,Electrical Engineering</h3>
              <h3>Yu Luen Ou</h2>
              <h3>C/C++,Social Ability</h3>
          </div>
        </div>
      </div>
      <%= image_tag("icon/turtle_ou.gif",:style=>"",:class=>"") %>
    </div>
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h3>Chiao Tung University,Electrical Engineering</h3>
              <h3>Zhuo Mo Chen</h3>
              <h3>Eat , That's all</h3>
          </div>
        </div>
      </div>
      <%= image_tag("icon/mo_chen.gif",:style=>"",:class=>"") %>
    </div>
    <div class="author_image ui circular image dimmable">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
              <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered mini image") %>
              <h3>Chiao Tung University,Electrical Engineering</h3>
              <h3>Ya Hsin Chen</h3>
              <h3>Function and View Designer</h3>
              <h3>Creative,Filled With Ideas</h3>
              <h3>Hardware Specialist</h3>
          </div>
        </div>
      </div>
      <%= image_tag("icon/ya_hsin_chen.gif",:style=>"",:class=>"") %>
    </div>
  </div>

</body>
