	<body id="welcomes_index">
		<div id="jump_button" class="ui center aligned grid">
                  <%= image_tag("icon/second_brain_logo.gif",:style=>"",:class=>"ui centered image") %>
		  <div id="divider_comment" class="ui horizontal divider">
                    Have you ever dreamed of being Albert Einstein ? Second Brain makes it real !
		  </div>
		  <a id="home_button" href="<%= cost_managers_path%>" class="ui blue massive button" >
                    Start!
                  </a>
		</div>
		<div class="ui center aligned basic segment">
			<button class="ui circular facebook icon button">
				<%=semantic_icon('facebook icon')%>
			</button>
			<button class="ui circular twitter icon button">
				<%=semantic_icon('twitter icon')%>
			</button>
			<button class="ui circular google plus icon button">
				<%=semantic_icon('google plus icon')%>
			</button>
			<button class="ui circular youtube icon button">
				<%=semantic_icon('youtube icon')%>
			</button>
		</div>
	</body>
