<html>
	<head>
	</head>
	<body style="background-color: #222222;">
		<div id="jump_button" class="ui center aligned grid">
			<div class="left floated column">
				<svg height="400px" width="0px">
				</svg>
			</div>
			<div class="fourteen wide column">
				<div class="ui center aligned cloumn">
					<svg height="400px" width="0px">
					</svg>
					<button class="ui massive red circular button">Welcome</button>
					<button class="ui massive purple circular button">To</button>
					<button class="ui massive yellow circular button">Cloud</button>
					<button class="ui massive green circular button">Secretary</button>
					<button class="ui massive blue circular button">!</button>
					</svg>
				</div>	
			</div>
			<div class="left floated column">
			</div>
			<div class="ui horizontal divider">
				<div style="color: #FFFFFF;">
					Enjoy Your Life , And Manage Your Life By Cloud Secretary!
				</div>
			</div>
			<div id="go_home_button" class="ui teal button">
				Start !
				<form id="go_home" action="<%=introduces_path%>">
				</form>
				<script>
					$('#go_home_button').click(function(){
						$('#go_home').submit();
					});
				</script>
			</div>
		</div>
		<div class="ui center aligned basic segment">
			<button class="ui circular facebook icon button">
				<%=semantic_icon('facebook icon')%>
			</button>
			<button class="ui circular twitter icon button">
				<%=semantic_icon('twitter icon')%>
			</button>
			<button class="ui circular google plus icon button">
				<%=semantic_icon('google plus icon')%>
			</button>
			<button class="ui circular youtube icon button">
				<%=semantic_icon('youtube icon')%>
			</button>
		</div>
	</body>
</html>
