<div id='cost_managers_cost_menu'>
  <div class='ui center aligned grid'>
    <h1 class='ui centered header'>
      Select The Cost Type!
    </h1>
  </div>
  <div class='ui center aligned grid'>
    <div class='ui three wide column'>
    <div class="ui list">
      <a href="<%=cost_manager_path(current_user.id)%>" class="ui small circular image">
        <%= image_tag("icon/food_logo.gif")%>
      </a>
      <a href="<%=cost_manager_path(current_user.id)%>" class="ui small circular image">
        <%= image_tag("icon/clothing_logo.gif") %>
      </a>
      <a href="<%=cost_manager_path(current_user.id)%>" class="ui small circular image">
        <%= image_tag("icon/living_logo.gif") %>
      </a>
    </div>
    </div>
    <div class='ui three wide column'>
    <div class="ui middle aligned animated list">
      <a href="<%=cost_manager_path(current_user.id)%>" class="ui small circular image">
        <%= image_tag("icon/transportation_logo.gif") %>
      </a>
      <a href="<%=cost_manager_path(current_user.id)%>" class="ui small circular image">
        <%= image_tag("icon/entertainment_logo.gif") %>
      </a>
    </div>
    </div>
  </div>
</div>
