<div id='cost_managers_cost_menu'>
  <div class='ui center aligned grid'>
    <h1 class='ui centered header'>
      Select The Cost Type!
    </h1>
  </div>
  <div class='ui center aligned grid'>
    <div class='ui three wide column'>
    <div class="ui middle aligned animated list">
      <div class="item">
        <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui small image") %>
      </div>
      <div class="item">
        <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered small image") %>
      </div>
      <div class="item">
        <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered small image") %>
      </div>
    </div>
    </div>
    <div class='ui three wide column'>
    <div class="ui middle aligned animated list">
      <div class="item">
        <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered small image") %>
      </div>
      <div class="item">
        <%= image_tag("icon/chiaotung_college_logo.gif",:style=>"",:class=>"ui centered small image") %>
      </div>
    </div>
    </div>
  </div>
</div>
