<!DOCTYPE html>
<html>
<head>
  <title>Cloudsecretary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="ui inverted inverted sticky teal menu fixed top">
        <a class="item" href="<%=root_path%>">
            <%= image_tag("icon/web_logo.png",:style=>"width:90px;height:90px;") %>
        </a>
        <a class="item">
            Tag
        </a>
        <a class="item">
            Diary 
        </a>
        <a class="item">
            Friends
        </a>
        <a class="item">
        	<%= link_to("BookMark", introduces_bookmarks_path) %>
        </a>
    </div>
    <%= yield %>

</body>
</html>
